@font-face {
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-family: openSansSemi;
}

@font-face {
    src: url(../fonts/verdana.ttf);
    font-family: verdanaMain;
}
@font-face {
    src: url(../fonts/Verdana_Bold.ttf);
    font-family: verdanaBold;
}

body {
    font-family: $font-main;
    h2 {
        font-family:$font-h2;
    }
}

a{
    font-size: .8rem;
}




