.about_company {
    color: $base-color-dark;
    pointer-events: none;


    .about_company--h2 {
        font-size: 2em;
        color: $text-highlited;
        padding-left: 2rem;
        margin: 4rem 0;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -1%;
            top: 43%;
            width: 29px;
            height: 28px;
            background: url(../images/about_company__rectangle.png);
            background-repeat: no-repeat;
        }
    }

    .about_company__item {
      
        .row {
            &:first-child {
                min-height: 6rem;
                padding: 0 1rem;
                margin-bottom: 1rem;

                img {
                    height: 5em;
                }

                span {
                    width: 55%;
                    padding-top: 15%;
                    padding-left: 3%;
                    color: $text-highlited;
                    font-size: 2em;
                    font-family: verdanaBold;

                    &:last-child {
                        color: $text-highlited;
                        font-size: 18px;
                        font-family: verdanaBold;
                        position: absolute;
                        padding: 0;
                        display: inline-block;
                        right: 18%;
                        top: 28%;
                        width: 26%;
                    }
                }

            }

            &:last-child {
                min-height: 72px;
            }

            p {
                padding: 0 1rem;
                font-family: verdanaBold;
                line-height: 1.3;
                font-size: 15px ;

            }

        }

        &:nth-child(3) {
            .row {
                img {
                    height: 4em;
                    margin-top: 6%;
                }

                span {
                    width: 30%;
                    padding-top: 15%;

                }
            }
        }

        &:nth-child(5) {
            .row {
                &:first-child {
                    span {
                        &:last-child {
                            right: 13% !important;
                        }

                    }
                }

            }
        }

        &:nth-child(8) {
            .row {
                &:first-child {
                    span {
                        &:last-child {
                            right: 1% !important;
                        }

                    }
                }

            }
        }
    }

    .about__text {
        font-size: 1rem;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            background: url(../images/about_rectangle.png);
            background-repeat: no-repeat;
            background-size: contain;
            left: -16px;
            top: 23px;
            width: 11px;
            height: 11px;
        }
    }

    .row {
        &:nth-child(3) {
            padding-top: 2rem;
        }
    }


}

.clients_and_partners {
    background: url(../images/our_partners__background.png);
    background-repeat: no-repeat;
    color: $base-color-white;
    padding: 4rem 0rem;
    background-size: cover;

    h2 {
        font-size: 1.3em;
        margin-bottom: 2rem;
    }

    p {
        min-height: 72px;
        font-size: .8em;
        line-height: 1.5;
    }

    a {
        display: inline-block;
        background: $base-color-white;
        color: $text-highlited;
        transition: all .3s;
        border-radius: 4px;
        padding: .3rem 4.5rem;
        border: 2px solid $text-highlited;


        &:hover {
            background: $text-highlited;
            text-decoration: none;
            color: inherit;
        }
    }

    .clients_and_partners_text {
        min-height: 96px;
        font-size: 17px;
        a {
            font-size: .8rem;
        }
    }

}

.collapseWrap {
    background: #f5f3f3;

    .collapsing {
        background: #be9d4d;
        color: #ffffff;
    }

    .show {
        background: #be9d4d;
        color: #ffffff;
    }

    .collapse {
        background: #be9d4d;
        color: #ffffff;

        .card {
            border: none;
            background: #be9d4d;
            color: #be9d4d;
        }

        .card-body {
            background: #be9d4d;
            color: #ffffff;
        }



    }

    .label_upload {

        p {
            position: absolute;
            padding-top: .5rem;
            padding-left: .5rem;
            cursor: pointer;
        }

        display: inline-block;
        width: 170px;
        margin-left: 1rem;
        background: transparent;
        background-image: url(../images/down-arrow.svg);
        background-position: center;
        background-size: 13%;
        background-repeat: no-repeat;
        background-position-x: 95%;
        border: 1px solid #be9d4d;
        border-radius: 4px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;

        .feedback_upload {
            padding: 0 !important;
            opacity: 0;
            cursor: pointer;
        }



    }


    .submit_btn {
        display: inline-block;
        background: #be9d4d;
        color: white;
        transition: all .3s;
        border: 2px solid #f5f3f3;
        border-radius: 4px;
        margin: 0;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        padding: .3rem 4.8rem;

        &:hover {
            background: $base-color-white;
            text-decoration: none;
            color: inherit;
            border: 2px solid $text-highlited;
        }
    }
}

.our_partners {
    h2 {
        font-size: 1.8em;
        color: $text-highlited;
        padding-left: 2rem;
        margin: 4rem 0;

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            left: -1%;
            top: 43%;
            width: 29px;
            height: 28px;
            background: url(../images/about_company__rectangle.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    svg {
        width: 60%;
    }

    img {
        width: 60%;
    }

    .glide__arrow {
        height: 20px;
        width: 20px;
        border: none;
        box-shadow: none;
        padding: 0;
        line-height: 2;

        svg {
            width: 100%;
        }

    }

    .glide__arrow {
        top: 36%;

        img {
            width: 100%;

        }
    }

    .glide__arrow--left {
        left: -1.5em;
    }

    .glide__arrow--right {
        right: -1.5em;
        transform: rotate(180deg)
    }

    .glide__slide {
        text-align: center;
        margin: auto;
    }
}

.feedback {
    background: $base-color-cream;
    color: $base-color-dark;
    padding: 3rem 0rem 4.7rem 0rem;
    .input-case {
        .feedback_input {
            background: transparent;
            box-shadow: none;
            border: 1px solid $text-highlited;
        }
    }
    

    .feedback__form {
        padding-right: 3rem;
    }

    span {
        color: $text-highlited;
        font-weight: 700;
    }

    a {
        text-decoration: none;
    }

    .row {
        .col-sm-6 {
            input {
                color: $base-color-dark;
                width: 100%;
                height: 2.6rem;
                border-radius: 7px;
                padding: 0% 5%;
                font-size: .8em;

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }


            &:nth-child(3) {
                input {
                    margin: 1rem 0;
                }

            }

            &:nth-child(4) {
                input {
                    margin: 1rem 0;
                }
            }

            p {
                font-size: .8rem;
            }

        }

        .col-sm-12 {
            padding: 2.2rem 0 0 0;

            button {
                display: inline-block;
                background: $text-highlited;
                color: $base-color-white;
                transition: all .3s;
                border: 2px solid $base-color-cream;
                border-radius: 4px;
                margin-left: 15px;
                padding: .3rem 4.8rem;

                &:hover {
                    background: $base-color-white;
                    text-decoration: none;
                    color: inherit;
                    border: 2px solid $text-highlited;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .header {
        .container_absolute{
            padding-top: 19%;
            .row{
                flex-wrap: wrap ;
                #brand1{
                    margin-bottom: 1rem;
                }
                #brand2{
                    margin-bottom: 1rem;        
                }
                #brand3{
                    margin-bottom: 1rem;      
                }
                #brand4{
                    margin-bottom: 1rem;   
                }
                #brand5{
                    margin-bottom: 1rem;  
                }
                #brand6{
                    margin-bottom: 1rem;  
                }
                #brand7{
                    margin-bottom: 1rem;  
                }
                #brand8{
                    margin-bottom: 1rem;   
                }
                img{
                    width: 38%;
                }
                &:last-child {
                    padding-top: 0;
                }
            }
        }
    }  

   
}

@media (min-width: 640px) and (max-width: 990px) {
    .feedback{

        padding: 3rem 0rem 4.7rem 1rem;
        .col-sm-6{
            &:last-child{
                p{
                    display: none;
                }
            }
        }

        .mobile-tel{
            background: transparent;
            border: navajowhite;
            padding: 2rem 3rem; 
        } 

        
    }

    #mobileTargetClients{
        margin-bottom: 1rem;
    }
    #mobileTargetPartners{
        margin-bottom: 1rem;
    }

    .footer{
        .px-0{
            width: 100%;
        }
        img{
            margin: auto;
        }
        .mobile-ver{
            width: 100%;
        }
    }
}

@media (max-width: 640px) {
    .mobile-flex {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .clients_and_partners_text {
        font-size: 12.8px;
    }
    .menu{
        margin-top: .5rem;
    }
    .mobile-tel{
        padding: 0;
        background: transparent !important;
        border: 0;
    }

    .submit_btn{
        margin-bottom: 1rem;
    }
    .clients_and_partners{
        p{
            min-height: unset;
        }
    }
    .label_upload{
        p{
            display: none;
        }
        input {
            width: 100% !important;
        }
    }
    .about_company {
        p {
            padding-left: 1.3rem !important;
            padding-right: 1.3rem !important;
        }

        h2 {
            font-size: 1.3em !important;
        }

        &span {
            font-size: 1.4em;
        }

        .about_company--h2 {
            padding-left: .5rem;
            text-align: center;

            &:before {
                left: 13%;
            }
        }


        .about_company__item:nth-child(3) {

            .row:first-child {

                img {
                    height: 64px !important;
                    margin: auto;
                    width: 134px !important;
                }

            }
        }

        .about_company__item:nth-child(5) {

            .row:first-child {

                img {
                    height: 80px !important;
                    margin: auto;
                    width: 94px !important;
                }

            }
        }

        .about_company__item:nth-child(7) {

            .row:first-child {

                img {
                    height: 80px !important;
                    margin: auto;
                    width: 110px !important;
                }

            }
        }



        .about_company__item {
            p {
                width: 100%;
            }

            .row {
                span {
                    display: none !important
                }
            }

            .row:first-child {
                flex-direction: column !important;

                img {
                    height: 80px;
                    margin: auto;
                    width: 80px;
                }

                span {
                    font-size: 1.5em;
                    text-align: right;
                }

                span:first-child {
                    width: 25%;
                    top: 50%;

                }

                span:last-child {
                    width: 25%;
                    top: 50%;
                    text-align: left !important;
                 
                }
            }

            .row:last-child {
                p {
                    text-align: center;
                    font-size: .8rem !important;
                }
            }
        }

        .svgClass {
            display: none
        }

        .about__text {
            font-size: .8em
        }


    }

    .mouse_nav--absolute {
        display: none
    }

    .logo {
        text-align: left !important;
        margin-bottom: .5rem;

        img {
            width: 50%;
        }
    }

    .clients_and_partners {
        padding: .5rem .5rem;
        background-size: cover;

        h2 {
            text-align: center;
            padding-top: 1rem;
        }

        a {
            width: 100%;
            text-align: center;
        }

        .clients_and_partners_text {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }

    .our_partners {
        .glide__arrow {
            display: none;
        }
    }

    .feedback {
        padding: 1rem 0rem 1rem 0rem;
        padding-bottom: 0;

        form {
            a {
                width: 95%;
                margin-left: .5rem !important;
            }
        }

        .feedback__form {
            padding: 1rem;
            padding-right: 0rem;
            padding-top: 0;
            p{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

        }
        .submit_btn{
            padding-top: .5rem;
            padding-bottom: .5rem;
        }
        .col-sm-6:last-child{
            p{
                display: none;
            }
        }

        p {
            margin-top: 1rem;
            font-size: .9em;
            margin-bottom: 0;
        }

        span {
            font-size: .9em;
        }

        a {
            text-align: center;
            border: none !important;
            padding: 0;
        }

        .label_upload {
            width: 60%;

            p {
                margin: 0;
            }
        }   

    }

    .feedback_input {
        margin-bottom: .5rem;
    }

    .our_partners__h2 {
        font-size: 1.3em !important;

        &:before {
            left: 4% !important;
            top: 41% !important;
        }
    }

    footer {
         padding-top: 1rem;

        .container {
            .mobile-ver {
                max-width: 20%;
                margin: auto;

                .col-sm-3 {
                    padding: 0;
                }
            }
        }

        img {
            margin: auto
        }

        .nav_item__footer {
            padding: 0 !important;
            text-align: center
        }

        .footer_address__p {
            padding: 0 !important;
            margin-top: 1rem;
            font-size: .8em !important;
        }


        .order_p {
            margin: auto !important;
        }

        .order_btn {
            margin: auto !important;
        }

        .footer_flex {
            p {
                font-size: .9em;
                text-align: center;
            }
        }

        .nav_item__footer {
            display: none !important;
        }

        .px-0 {
            img {
                display: none;
            }
        }
    }

    .footer_address__p{
        text-align: center;
    }
}