
.footer {
    background: $base-color-cream;
    color: $base-color-dark;
    overflow: hidden;
    .nav_item__footer {
        display: block;
        padding-left: 39%;
        color: $base-color-dark;
        background: url(../images/navigation_mark.png);
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: 30%;
        background-size: 0%;
        transition: all .3s;
        font-size: 14px;
        &:hover {
            text-decoration: none;
            background: url(../images/navigation_mark.png);
            background-repeat: no-repeat;
            background-position-y: 50%;
            background-position-x: 30%;
            background-size: 5%;
        }

        &:first-child {
            margin-top: 1rem;
        }
    }

    .footer_flex--border {
        border-top: 1px solid #dcdcdc;
        margin-top: 1.4rem;
    }

    .footer_address__p {
        padding: 7% 26% 12% 16%;
        word-break: break-word;
        font-size: 14px ;
    }

    .order_p {
        margin: 1rem 0;
        margin-left: 1rem;
        font-weight: 600;
    }

    .order_btn {
        display: inline-block;
        background: $text-highlited;
        color: $base-color-white;
        transition: all .3s;
        border: 2px solid $base-color-cream;
        border-radius: 4px;
        margin: 0;
        margin-left: 1rem;
        padding: .3rem 3.8rem;

        &:hover {
            background: $base-color-white;
            text-decoration: none;
            color: inherit;
            border: 2px solid $text-highlited;
        }

        p {
            margin: auto;
        }
    }

    .footer_flex {

        display: flex;

        p {
            margin: 0;
            padding: .5rem 0;
            font-size: .8em;
            color: #838383;
        }
    }

    svg {
        transition: all .3s;
        width: 26px;
        height: 26px;
        path {
            transition: all .3s;
        }

        &:hover {
            path {
                fill: #7dc7f5;
            }
        }
    }

    img {
        transition: all .3s;

        &:hover {
            fill: #7dc7f5;
        }
    }
}
@media (min-width: 640px) and (max-width: 900px) {
    .footer{
        .nav_item__footer{
            padding-left: 0;
        }  
        .footer_address__p{
            padding: 0;
        }
        .mobile-ver{
            .col-sm-3{
                text-align: center;
            }
        }

        
        
    } 
}



@media (max-width: 640px) {

    .our_partners h2 {
        font-size: 1.2rem;
    }

    .footer{
        .footer_address__p {
            font-size: 14px;
        }
        .row   {
            .col-sm-12 {
                .row:last-child {
                    .col-sm-3 {
                        width: 25%;
                        text-align: center;
                    }
                }
            }
        }  
        .footer_flex {
            flex-direction: column;
        }
        .modal-footer {
            flex-direction: column-reverse;
        }
    } 
}