
.logoPicSpec{
    width: 34%;
    z-index: 9999;
    position: relative;
    margin-left: 19%;
}
.hc-offcanvas-nav .nav-content ul li {
    opacity: 0;
    transition: all .3s ease;
}
.hc-offcanvas-nav.nav-open .nav-content ul li {
    opacity: 1;
}
.nav-container{
    transform: translateY(-50px) !important
}
.specialInput {
    width: 100%;
    height: 2.4em;
    border: none;
    background: rgba(133, 143, 141, 0.5);
    border-radius: 9px;
    background-image: url(../images/search-logo.png);
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
    padding: 0% 2%;
    color: #fff;
    z-index: 9;
}

.header {
    transform: translateY(0px);
    transition: all .6s;
    
    .menu {
        max-width: 900px;
    }
    // background: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 621px;
    position: relative;
    width: 100%;
    .transparent{
        background: transparent !important;
    }

    .header-nav {
        padding-top: 1.5rem;
    }

    .container_absolute {
        width: 100%;
        height: 100%;
        padding-top: 15%;
        z-index: 3;
        @media (min-width: 1400px) {
            padding-top: 10%;
        }
        .row {
            flex-wrap: unset;

            &:last-child{
                padding-top: 2.5rem;
            }
        }

        .col-sm-6 {
            text-align: center;
            position: relative;
            z-index: 0;

            .back_shadow {
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 2;
            }

            img {
                z-index: 6;
                display: inline-block;



            }

            #brand4 {
                background-position-x: 0.6rem;
                background-repeat: no-repeat;
            }

            #brand5 {
                background-position-y: .9rem;
                background-repeat: no-repeat;
            }

            #brand6 {
           
                background-position-y: .7rem;
                background-repeat: no-repeat;
            }

            #brand7 {
                padding: 6px;
            }

            #brand8 {
                background-position-y: .2rem;
                background-repeat: no-repeat;
            }
        }
        

        // #brand1 {
        //     transition: all .3s;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */
        //     background-repeat: no-repeat;
        //     background-position-y: 0.8rem;
        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 72%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 72%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 72%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 72%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0) 72%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
        //         background-position-y: 0.8rem;
        //     }

        // }

        // #brand2 {
        //     transition: all .3s;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */
        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 75%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 75%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 75%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 75%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0) 75%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
        //     }
        // }

        // #brand3 {
        //     transition: all .3s;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */
        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 50%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 50%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 50%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 50%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0) 50%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
        //     }
        // }

        // #brand4 {
        //     transition: all .3s;
        //     margin-top: 15%;
        //     background-position-x: 0.6rem;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */

        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 77%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 77%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 77%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 77%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0) 77%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
        //         background-position-x: 0.6rem;
        //     }
        // }

        // #brand5 {
        //     transition: all .3s;
        //     background-position-y: .9rem;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */
        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 76%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 76%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 76%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 76%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0) 76%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
        //         background-position-y: .9rem;
        //     }
        // }

        // #brand6 {
        //     transition: all .3s;
        //     margin-top: 12%;
        //     background-position-y: .7rem;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */
        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 71%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 71%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 71%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 71%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0) 71%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
        //         background-position-y: .7rem;
        //     }
        // }

        // #brand7 {
        //     transition: all .3s;
        //     padding: 6px;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */
        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 58%, rgba(0, 128, 128, 0.08) 73%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(58%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 58%, rgba(0, 128, 128, 0.08) 73%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 58%, rgba(0, 128, 128, 0.08) 73%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 58%, rgba(0, 128, 128, 0.08) 73%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 58%, rgba(0, 128, 128, 0) 73%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
                
        //     }
        // }

        // #brand8 {
        //     transition: all .3s;
        //     background-position-y: .2rem;
        //     background-repeat: no-repeat;
        //     background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ff3.6+ */
        //     background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(21%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 128, 128, 0)));
        //     /* safari4+,chrome */
        //     background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* safari5.1+,chrome10+ */
        //     background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* opera 11.10+ */
        //     background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0.08) 0%);
        //     /* ie10+ */
        //     background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 21%, rgba(0, 128, 128, 0) 0%);
        //     /* w3c */
        //     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //     /* ie6-9 */
        //     &:hover {
        //         background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 73%);
        //         /* ff3.6+ */
        //         background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(21%, rgba(255, 255, 255, 0.81)), color-stop(100%, rgba(0, 128, 128, 0.08)));
        //         /* safari4+,chrome */
        //         background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 73%);
        //         /* safari5.1+,chrome10+ */
        //         background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 73%);
        //         /* opera 11.10+ */
        //         background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0.08) 73%);
        //         /* ie10+ */
        //         background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.81) 21%, rgba(0, 128, 128, 0) 73%);
        //         /* w3c */
        //         filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#008080', GradientType=1);
        //         /* ie6-9 */
        //         background-repeat: no-repeat;
        //         background-position-y: .2rem;
        //     }
        // }








        .row:first-child {
            .col-sm-3 {
                &:nth-child(4) {
                    margin-top: 3%;
                }
            }
        }

        .row:last-child {
            .col-sm-3 {
                &:nth-child(2) {
                    margin-top: 3%;
                }
            }
        }
    }

    .container {
        z-index: 3;
    }

    .logo {
        text-align: center;
    }

    .menu__upper__layer {
        display: flex;
        justify-content: space-between;
        margin-bottom: .8em;
        .active-page {
            color: #bf9e4d !important;
            &::after {
               width: 100%;
            }
            &::before {
                background-size: 90%;
            }
        }
        a {
            color: #ffffff;
            transition: all .3s;
            position: relative;
            display: inline-block;
            border-bottom: 2px solid, transparent;
            transition: all .8s;
            font-size: .95rem;
            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                left: -20px;
                width: 16px;
                height: 16px;
                top: 17%;
                // background: url(../images/menu_rectangle.png);
                background-repeat: no-repeat;
                background-size: 0%;
                background-position: center;
                transition: all .3s;
            }

            &::after {
                content: '';
                width: 0;
                display: block;
                height: 2px;
                background: #bf9e4d;
                transition: all .3s;
            }

            &:hover {
                color: #bf9e4d !important;
                transition: .3s all;

                &::before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    left: -20px;
                    width: 16px;
                    height: 16px;
                    top: 17%;
                    // background: url(../images/menu_rectangle.png);
                    background-repeat: no-repeat;
                    background-size: 90%;
                    background-position: center;
                    transition: all .3s;
                }

                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 2px;
                    background: #bf9e4d;
                    transition: width .3s;
                }
            }



        }


        a:last-child {
            margin-right: 0%;


        }

        a:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }

    .menu__sub__layer {
        input {
            width: 100%;
            height: 2.4em;
            border: none;
            background: rgba(133, 143, 141, .5);
            border-radius: 9px;
            background-image: url(../images/search-logo.png);
            background-repeat: no-repeat;
            background-position-x: 98%;
            background-position-y: 50%;
            padding: 0% 2%;
            color: #fff;
            z-index: 9;
        }

        input:focus {
            outline: none !important;
        }
    }

    .lang-version {
        color: #ffffff;
        display: flex;
        margin-bottom: 2.5%;
        a {
            margin-right: 3%;
            color: #ffffff;
            text-decoration: none;
            cursor: pointer;
            transition: all .3s;
            font-size: 15px;
            font-weight: 400;
            &:hover {
                font-weight: bolder;
            }
        }
    }

    .mouse_nav--absolute {
        position: absolute;
        height: 76px;
        width: 98px;
        border-radius: 50%;
        bottom: -7.5%;
        left: 26.5%;
        background: url(../images/mouse-direction.png), #fff;
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 1;
        animation: mouse-direction 5s ease-in-out infinite;
        
    }

    // Inner pages styles --header

    .innerHeader {

        a {
            color: #bf9e4d !important;
        }

        span {
            background: #bf9e4d !important;

            &::after {
                background: #bf9e4d !important;
            }

            &::before {
                background: #bf9e4d !important;
            }
        }
    }

    .InputBackground {
        background: rgba(255, 255, 255, 0.5) !important;
        color: #ffffff !important;
    }
    .specialIndexMobile{
        background: #bf9e4d !important;
        &::before{
            background: #bf9e4d !important;
        }
        &::after{
            background: #bf9e4d !important;
        }
    }

    .indexStyleMobile{
        // max-width: 100% !important;
    }

    .glide__bullets {
        z-index: 1;
    }

}

.smoothHeader{
    transform: translateY(-127px);
}

.smoothHeader2{
    transform: translateY(-26px);
}




.innerHeaderMaxHeight {
    max-height: 130px !important;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: .2);

    input {
        background: rgba(133, 143, 141, 0.1) !important;
        background-image: url(../images/search-logo--black.png) !important;
        background-repeat: no-repeat !important;
        background-position-x: 98% !important;
        background-position-y: 50% !important;
        color: #000000 !important;

        &:hover {
            background-image: none !important;
        }
    }
}

@keyframes mouse-direction {
    0% {
        background-position-y: 50%;
    }

    25% {
        background-position-y: 80%;
    }

    50% {
        background-position-y: 50%;
    }

    75% {
        background-position-y: 80%;
    }

    100% {
        background-position-y: 50%;
    }
}

.hc-nav-trigger {
    top: 29px;
    left: 15px;

    span {
        background: #fff !important;
        display: block;
        position: absolute;
        left: 0;
        height: 2px;
        border-radius: 8px;
        background: #34495E;
        transition: all .2s ease;

        &:before {
            background: #fff !important;
            display: block;
            position: absolute;
            left: 0;
            height: 2px;
            border-radius: 8px;
            background: #34495E;
            transition: all .2s ease;
        }

        &:after {
            background: #fff !important;
            display: block;
            position: absolute;
            left: 0;
            height: 2px;
            border-radius: 8px;
            background: #34495E;
            transition: all .2s ease;
        }
    }
}

#main-nav {
    display: none;
}

.lang-version-mob {
    display: none;
}

@media (max-width: 980px) {

    .container_absolute {
        padding-top: 22%;

        img {
            width: 50%;
        }
    }

    .menu__upper__layer {
        display: none !important;
    }

    .lang-version {
        display: none !important;
    }

    .logo {
        display: flex;
        img{
            margin-left: 3rem;
            margin-top: -.5rem;
            margin-bottom: .5rem;
        }


        .lang-version-mob {
            padding-top: 2%;
            display: block;
            width: 100%;
            color: #fff;
            text-align: right;

            a {
                color: inherit;
                text-decoration: none;
                cursor: pointer;
                z-index: 2;
                margin-left: 0 !important;
            }
        }
    }

    .lang-version-mob {
        display: block;
        width: 50%;
        color: #fff;

        a {
            color: inherit;
            text-decoration: none;
            cursor: pointer;
            z-index: 2;
        }
    }
}

@media (max-width: 600px) {

    .logo{
        img{
            margin-left: 1rem;
            margin-top: 0rem;
            margin-bottom: 0rem;
        }
    }
    .container_absolute {
        padding-top: 50% !important ;
        
       

        .row {
            flex-wrap: unset !important;

            img {
                width: 100% !important;
            }
        }
    }

    .menu__sub__layer {
        input {
            position: relative;
            z-index: 999;
        }
    }

    .header-nav {
        padding-top: 1rem !important;

        .logo img {
            width: 67%;
            z-index: 9999;
            position: relative;
        }
    }

    .menu__upper__layer {
        display: none !important;
    }

    .lang-version {
        display: none !important;
    }

    .clients_and_partners {
        .col-sm-12 {
            padding: 0;
        }
    }

    .glide__bullets {
        width: 20% !important;
    }

    .logo {
        display: flex;

        a {
            margin-left: 37px;
        }

        .lang-version-mob {
            display: block;
            width: 50%;
            color: #fff;
            z-index: 9999;
            position: relative;

            a {
                color: inherit;
                text-decoration: none;
                cursor: pointer;
                z-index: 2;
            }
        }
    }

}

.hc-offcanvas-nav {
  

    .nav-wrapper {
        box-shadow: none !important;
    }

    .nav-content {
        width: 100vw;
    }

    .nav-close {
        border: none !important;
        border-top: none !important;
        border-bottom: none !important;

        a {
            opacity: 0;
            border: none !important;
            border-top: none !important;
            border-bottom: none !important;
        }
    }

    .nav-container {
        background: rgba(51, 108, 166, 0) !important;
    }

    .nav-wrapper {

        background: rgba(51, 108, 166, 0) !important;

    }

    .nav-content {
        background: rgba(51, 108, 166, 0) !important;

        ul {
            background: rgba(51, 108, 166, 0) !important;

            li {

                &:nth-child(1) {
                    background-image: none;
                }

                &:nth-child(2) {
                    background-image: none;
                }

                &:nth-child(3) {
                    background-image: none;
                }

                background-image: url(../images/right-arrow.png);
                background-position: center;
                background-repeat: no-repeat;
                background-position-y: center;
                background-position-x: 95%;
            }

            a {

                background: rgba(51, 108, 166, 0),  !important;
                font-size: 18px;
            }
        }

        .nav-container {
            &::after {
                background: rgba(51, 108, 166, 0) !important;
            }
        }

        &::after {
            background: rgba(51, 108, 166, 0) !important;
        }
    }

    &::after {
        background: rgba(30, 52, 125, .9) !important;
    }

    .nav-item {
        border-bottom: none !important;
    }
}