.absolute_backround-slider {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    .glide_header {
        height: 100%;

        .glide__slide {
            height: 100%;
            background-size: cover !important;
            background-repeat: no-repeat;
            background-position: center;
            @media (max-width: 460px) {
                background-size: contain !important;
                background-repeat: no-repeat !important;
            }
        }
        .glide__track {
          height: 100%;
          .glide__slides {
              height: 100%;
              background-image: linear-gradient(to bottom, #394980, white);
          }
        }
        // .glide__slide:nth-child(1) {
        //     background: url(../images/header-bg3.png);
        //     background-position: center;
        // }
        // .glide__slide:nth-child(2) {
        //     background: url(../images/header-bg.png);
        //     background-position: center;
        // }
        // .glide__slide:nth-child(3) {
        //     background: url(../images/header-bg2.png);
        //     background-position: center;
        // }
        // .glide__slide:nth-child(4) {
        //     background: url(../images/header-bg1.png);
        //     background-position: center;
        // }
  
        .glide__bullets{
            bottom: 5em;
            left: 14%;
            width: 6.5%;
            justify-content: space-around;
            @media (max-width: 460px) {
                bottom: 10em;
            }
            .glide__bullet {
                margin: 0 2% !important;
                width: 9px;
                height: 9px;
                background-color: #77cced;
                border-radius: 0%;
                transform: rotate(45deg);
                background-repeat: no-repeat;
                background-position: center;
                transition: all .3s;
                padding: 0;
                border: 1px solid transparent;
                &::after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 9px;
                    border: 1px solid #77cced;
                    height: 9px;
                    transform: translate(-53%, -55%);
                    transition: all .2s ;
                }
            }
            .glide__bullet--active {
                background-color: #bf9e4d;
                &::after{
                    content: "";
                    display: inline-block;
                    position: absolute;
                    width: 15px;
                    border: 1px solid #bf9e4d;
                    height: 15px;
                    transform: translate(-53%, -55%);
                }
            }
        }
    }
}