//base colors
$base-color-dark: rgb(59, 59, 59) ;
$base-color-white:rgb(255, 255, 255);
$base-color-cream:#f5f3f3;
$text-highlited: #be9d4d;

$font-h2:openSansSemi;

$font-main: verdanaMain;
$namespace-prefix: '__NAMESPACE_PREFIX__' !default;
$placements: 'top', 'bottom', 'left', 'right';
$origins: bottom, top, right, left;
$backdrop-origins: 0% 25%, 0% -50%, 50% 0%, -50% 0%;
$backdrop-border-radii: 40% 40% 0 0, 0 0 30% 30%, 50% 0 0 50%, 0 50% 50% 0;
$arrow-size: 7px;
